		/**
			CSS Storm for redefine original details of Slider.
		**/
		#slider {
			width: 90%;
		}

		.ui-widget-content {
  			border: 1px solid #D7D7D7;
			
		}

		.ui-state-default {
		  border: 1px solid #9B9B9B;
		}

		/**
			CSS Storm for component details.
		**/
		div.max {
			font-family: Arial;
			font-size: 12px;
			text-align: right;
			margin-right: 10%;
			margin-top: 5px;
			display: block;
		}

		div.min {
			font-family: Arial;
			font-size: 14px;
			margin-top: 2px;
			display: block;
		}

		.label {
			font-family: Arial;
			font-size: 14px;
		}

		.label-manual-input {
			font-family: Arial;
			font-size: 14px;
			float:left;
			margin-top: 0.8%;
		}	


		.default-font { 
			font-family: Arial;
			font-size: 14px;
		}

		.manual-value-selected {
			display: block;
			margin-top: 10px;
		}

		#valor-size {
			border:0; 
			color:#f6931f; 
			font-weight:bold;
			margin-left: 3px;
		}    	

		.input-size {
			float:left;
  			height: 21px;
  			border-radius: 4px;
  			border: 1px solid #ccc;
  			padding: 6px 12px;
  			margin-left: 5px;
			font-size: 14px;
  			line-height: 1.428571429;
		}

		.send{
			float:left;
			margin-left: 5px;
			color: #fff;
  			background-color: #428bca;
  			border-color: #357ebd;
			display: inline-block;
  			cursor: pointer;
  			background-image: none;
  			border: 1px solid transparent;
  			white-space: nowrap;
  			padding: 6px 12px;
  			font-size: 14px;
  			line-height: 1.428571429;
  			border-radius: 4px;
  			-webkit-user-select: none;
		}

		.reset{
			color: #fff;
  			background-color: #428bca;
  			border-color: #357ebd;
			margin-top: 5px;
  			cursor: pointer;
  			background-image: none;
  			border: 1px solid transparent;
  			white-space: nowrap;
  			padding: 6px 12px;
  			font-size: 14px;
  			line-height: 1.428571429;
  			border-radius: 4px;
  			-webkit-user-select: none;
		}

