		#slider {
			width: 90%;
		}
		// Redefinição do componente Slider
		.ui-widget-content {
  			border: 1px solid #D7D7D7;
			
		}
		// Redefinição do Slider Cursor
		.ui-state-default {
		  border: 1px solid #9B9B9B;
		}

		div.max {
			font-family: Arial;
			font-size: 12px;
			text-align: right;
			margin-right: 9%;
			margin-top: 5px;
			display: block;
		}

		div.min {
			font-family: Arial;
			font-size: 14px;
			margin-top: 2px;
			display: block;
		}
		.reset{
			color: #fff;
  			background-color: #428bca;
  			border-color: #357ebd;
			margin-top: 5px;
			display: inline-block;
  		 	margin-bottom: 0;
  			font-weight: 400;
  			text-align: center;
  			vertical-align: middle;
  			cursor: pointer;
  			background-image: none;
  			border: 1px solid transparent;
  			white-space: nowrap;
  			padding: 6px 12px;
  			font-size: 14px;
  			line-height: 1.428571429;
  			border-radius: 4px;
  			-webkit-user-select: none;
		}

		.label {
			font-family: Arial;
			font-size: 14px;
		}

		.default-font { 
			font-family: Arial;
			font-size: 14px;
		}

		.manual-value-selected {
			display: block;
			margin-top: 10px;
		}

		#valor-size {
			border:0; 
			color:#f6931f; 
			font-weight:bold;
		}

		.input-size {
  			height: 28px;
  			border-radius: 4px;
  			border: 1px solid #ccc;
  			padding: 6px 12px;
  			margin-left: 5px;
			font-size: 14px;
  			line-height: 1.428571429;
		}
